font{
  font-size: 11px;
  /*font-family: 'Raleway', sans-serif;*/
}
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
}
th {
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
}

.cnt_conteiner{
  width: 100%;
  text-align: center;
}
.cabecera{
  display: flex;
}
.cab1{
  width: 35%; 
}
.logo{
  /*
  background-image: url("image10.png");  
  background-repeat: no-repeat;
  background-size: 90% 90%;
  */
  height: 128px;
}
.fecha{
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  padding: 4px;
}
.cab2{
  width: 65%; 
}
.cab{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  padding: 4px;
}
.cuerpo1{
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  width: 60%; 
  text-align: justify;
  padding: 4px;
}
.cuerpo2{
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  width: 40%;
  text-align: justify;
  padding: 4px;
}

